<% include layout-head %>

<form action="/statistics" method="post">
  시작 날짜: <input type="text" name="startDay"> ~ 끝 날짜: <input type="text" name="endDay">
  <input type="submit" value="Submit">
</form>




<% include layout-foot %>